llama-index-core==0.11.20
llama-index-readers-file
llama-index-llms-cerebras==0.1.0
llama-index-embeddings-cohere
python-dotenv
streamlit
ipython
llama-index-experimental
openpyxl
ipython
llama-index 
llama-index-embeddings-huggingface
